In [37]:
import numpy as np
import pandas as pd
import datetime

def dateparse(dt_str):
    return datetime.datetime.strptime(dt_str, '%Y-%m-%dT%H:%M:%S.%fZ')

buys = pd.read_csv("yoochoose-data\yoochoose-buys.dat",parse_dates = [1], date_parser = dateparse)

In [51]:
buy_items = buys[['item_id','price','quantity']].sort_values('price').groupby('item_id')
buy_items.head(10)

           item_id   price  quantity
575376   214846301       0         0
520174   214515870       0         0
520175   214847936       0         0
520176   214847936       0         0
520177   214847936       0         0
...            ...     ...       ...
937524   214587935  265883         1
951099   214587935  265883         1
819534   214600929  293111         1
1080833  214600929  293111         1
793849   214712049  334998         1

[113574 rows x 3 columns]

In [52]:
buy_items.sum().reset_index()[['item_id','price','quantity']].to_csv('buys_by_item.csv',index=False)